.header{
	background-color: black;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;

	margin-top: -10px;
	margin-left: -10px;
	width:100%; 

}
.header-text{
	color: grey;
	font-size: 30px;
	font-family:  sans-serif;
}
.heading{
	position: relative;
	color: #141f1f;
	font-size: 40px;
	font-family:  sans-serif;
	top: 80px;
	left: 270px;
}
.inputField{
	position: relative;
	top: 100px;
	left: 300px;
	width: 500px;
	height: 30px;
	font-family:  sans-serif;

}
#addTodo-button{
	position: relative;
	top: 100px;
	left: 300px;
	margin-left: 10px;
	height: 30px; 
	width: 50px;
	background-color:#0099ff;
	color: white; 
	border-radius: 5px;
	font-family:  sans-serif;
	font-weight: bold;
}

.todo-container{
	position: relative;
	top: 100px;
    height: 30px;
    margin-top: 10px;
    left:190px;
  
}
.todo-list{
    list-style: none;
    width:90%;
}
.todo-item{
    display: flex;
    padding-left:15px;
    width:450px;
    color:#141f1f;
    background-color: #e0e0eb;
    border-radius: 3px;
    border:1px solid;
    border-color: #527a7a;
    font-size: 22px;
    font-weight: bold; 
}
.todo{
    display:flex;
    width:90%;
    margin:auto;
    margin-bottom: 6px;
}

.trash-button{

	height: 30px; 
	width: 50px;
	color: white;
	background-color: #009933;

	border-radius: 5px;
	font-family:  sans-serif;
	font-weight: bold;

	margin-left: 10px;
}

.complete-button{
	height: 30px; 
	width: 55px;
	color: white;
	background-color: #3d3d5c;
	border-radius: 5px;
	font-family:  sans-serif;
	font-weight: bold;
	margin-left: 5px;
}



		